.section__title {
  background-color: white;
  margin: 0px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.section__header {
  background-color: white;
  margin: 0px;
  padding: 10px;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .section__title {
    grid-template-columns: 1fr;
  }
}
.section_header--withButtons {
  display: grid;
  grid-template-columns: 1fr auto;
}
